<div id="workSubpages" class="popup popup-work-subpages hidden">
  <div class="popup-slider" id="work-slide">
    <%= kettner %>
    <%= alma %>
    <%= flex %>
    <%= otherhalf %>
    <%= arkfoods %>
  </div>
  <div class="up-arrow hidden">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.62 13.43">
      <g id="Layer_2" data-name="Layer 2">
        <g id="type">
          <polygon points="11.31 0 22.62 11.31 20.5 13.43 11.31 4.24 2.12 13.43 0 11.31 11.31 0"/>
        </g>
      </g>
    </svg>
  </div>
</div>
